@font-face {
  font-family: "iconfont"; /* Project id 3052397 */
  src: url('iconfont.woff2?t=1643013589504') format('woff2'),
       url('iconfont.woff?t=1643013589504') format('woff'),
       url('iconfont.ttf?t=1643013589504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouqi:before {
  content: "\e742";
}

.icon-zhankai:before {
  content: "\e743";
}

.icon--bingzhuangtu:before {
  content: "\e8b2";
}

.icon-bingtu:before {
  content: "\e601";
}

.icon-bingzhuangtu1:before {
  content: "\e7d5";
}

.icon-bingzhuangtu11:before {
  content: "\e605";
}

.icon-zhishidianfenxi:before {
  content: "\e7ad";
}

.icon-chuangguan:before {
  content: "\e67b";
}

.icon-a-youxichuangguan0:before {
  content: "\e608";
}

.icon-zhankai1:before {
  content: "\e740";
}

.icon-shouqi1:before {
  content: "\e741";
}

.icon-weizhangwozhishidian:before {
  content: "\e600";
}

.icon-weilianxi:before {
  content: "\e644";
}

.icon-weizhangwo:before {
  content: "\e645";
}

.icon-icon_yizhangwo:before {
  content: "\e63e";
}

