<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudian.business.mapper.KnowledgeExercisesTrainMapper">
    <select id="getUnifiedExercises" parameterType="string" resultType="map">
        SELECT classification_id classifyId,first,second,operate,three,result
        FROM `knowledge_exercises_train`
        where classification_id = #{classifyId}
    </select>
</mapper>
