<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fudian.project.system.mapper.SysRolePermissionMapper">
  <resultMap id="BaseResultMap" type="com.fudian.project.system.pojo.SysRolePermission">
    <!--@mbg.generated-->
    <!--@Table sys_role_permission-->
    <id column="role_id" property="roleId" />
    <id column="permission_id" property="permissionId" />
  </resultMap>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_role_permission
    <trim prefix="set" suffixOverrides="," />
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update sys_role_permission
    <trim prefix="set" suffixOverrides="," />
    where role_id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.roleId}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into sys_role_permission
    (role_id, permission_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.roleId}, #{item.permissionId})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="com.fudian.project.system.pojo.SysRolePermission">
    <!--@mbg.generated-->
    insert into sys_role_permission
    (role_id, permission_id)
    values
    (#{roleId}, #{permissionId})
    on duplicate key update 
    role_id = #{roleId}, 
    permission_id = #{permissionId}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="com.fudian.project.system.pojo.SysRolePermission">
    <!--@mbg.generated-->
    insert into sys_role_permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="permissionId != null">
        permission_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId},
      </if>
      <if test="permissionId != null">
        #{permissionId},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="permissionId != null">
        permission_id = #{permissionId},
      </if>
    </trim>
  </insert>
</mapper>